@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Gabarito&family=Poppins:wght@600&display=swap');

:root{
    --navy: #164863;
    --blue: #427D9D;
    --cold: #9BBEC8;
    --winter: #DDF2FD;
    --black: #000;
    --border: rbga(#427D9D, #DDF2FD);
    --border-hover: 2px solid #000;
    --box-shadow:0 .5rem 1rem rgba(#164863, #9BBEC8);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html,
body {
  position: relative;
  height: 100%;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

/* CSS untuk Featured Books dan New Arrivals */
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    display: block;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
}

.heading span {
    font-size: 2rem;
    padding: .5rem 2rem;
    color: #000;
    background: #fff;
    border: var(--border);
}

.arrivals .heading {
    text-align: center;
    margin-top: 7rem;
    position: relative;
    display: block;
}

.arrivals .heading::before {
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
}

.arrivals .heading span {
    font-size: 2rem;
    padding: .5rem 2rem;
    color: #000;
    background: #fff;
    border: var(--border);
}

.header .header-1{
    background: #9BBEC8;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 img {
    width: 60px;
    height: 50px;
}

.header .header-1 .logo-text {
    font-size: 20px; /* Adjust the font size to your preference */
    margin-right: 670px;
}

.header .header-1 .search-form{
    width: 25rem;
    height: 3rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .3rem;
}

.header .header-1 .search-form input{
    font-size: 1rem;
    padding:0 1rem;
    height: 90%;
    width: 90%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 1rem;
    padding-right: 1rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--navy);
}

.header .header-2{
    background: var(--blue);
} 

.header .header-2 .navbar{
    text-align: center;
} 

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
}

.header .header-2 .navbar a:hover{
    background: var(--navy);
}

body{
    height: 400rem;
}

.home {
    background: linear-gradient(to bottom, #9BBEC8, #427D9D, #fff); /* Sesuaikan warna gradient sesuai keinginan Anda */
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
    text-align: center;
}

.home .row .books-container{
    text-align: center;
    margin-top: 3rem;
}

.home .row .books-container a img{
    height: 14rem;
}

.home .row .books-container a:hover img{
    transform: scale(.9);
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
    margin-bottom: 20px; 
    margin-right: 300px; 
}

.home .row .content p{
    color: var(--navy);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
    margin-right: 300px; 
}

.container {
    max-width: var(--container);
    padding: 0 2rem;
    margin: var(--m-auto);
}

.swiper {
    position: relative;
    width: 240px;
    height: 320px;
}

.swiper-container {
    width: 50%;
    max-width: 240px;
    height: 320px;
    margin-right: 100px;
}

.swiper-slide {
    display: flex;
    align-items: center;  /* Menengahkan gambar secara vertikal */
}

.swiper-slide img {
    width: 70%;
    height: auto;
    box-shadow: none;
}

.featured .featured-slider .box{
    width: 25rem;
    height: 35rem;
    margin: 2rem 0;
    margin-bottom: 10rem;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.featured .featured-slider .box:hover{
    border: var(--border-hover);
}

.featured .featured-slider .box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #427D9D 30%, #fff 30.1%);
}

.featured .featured-slider .box .image img{
    height: 200px;
    width: auto;
    max-width: 100%;
}

.featured .featured-slider .box .content{
    background: #fff;
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured .featured-slider .box .content h3{
    font-size: 1.3rem;
    color: #000;
}

.featured .featured-slider .box .content .price{
    font-size: 1.5rem;
    color: #000;
}

.featured .featured-slider .box .content .price span{
    font-size: 1rem;
    color: #427D9D;
    text-decoration: line-through;
}

#infoButton {
    background-color: #427D9D;
    border: none;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    width: 90px;
    margin: 0 auto; /* Menengahkan secara horizontal */
    max-width: 100%;
}

#infoButton:hover {
    background-color: #325f7b;
}

#infoButton:active {
    background-color: #21405a;
}


